#eldinJumbo {
    background-color: #1565C0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#eldinH2 {
    color: white;
    text-align: center;
}

#eldinImg {
    margin: 0 auto;
}

#contImg {
    margin-top: 5%;
}

.eHoriList li {
    display: inline;
    padding-right: 1em;
}

.eHoriList li a {
    color: white;
    text-decoration: none;
}

.eHoriList li a:hover {
    color: #90CAF9;
}

.eActive {
    font-weight: bold;
    font-size: 1.5em;
}

#aboutMeCard {
    box-shadow: 0 9px 15px 0 rgba(0, 0, 0, 0.2), 0 14px 29px 0 rgba(0, 0, 0, 0.19);
}

.overMij {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
}
